.movieContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 90px;
    margin: 20px;
}
.movieContainer > div img{
    height: 300px;
    width: 100%;
    cursor: pointer;
    
}
.movieContainer > div {
border: 1px solid gray;
    
}
.page button{
    border: none;
    background-color: green;
    margin: 20px;
    padding: 10px;
    color: white;
    font-weight: 800;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.detailsButton button{
background-color: green;
border: none;

}