.container *{
    padding: 0px;
    margin:0px;
}
.container{
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #D4D4D4;

}

.author{
    display: flex;
    gap: 5px;
    /* margin-top: 10px; */
}
.body h4{
font-weight: 500;
font-size: 17px;
color: rgb(26, 24, 24);
    margin-top: 10px;

}
.comment{

    margin: 20px;

}
.comment div ul{
    list-style: none;
    display: flex;
    /* margin-left: -39px; */
    margin-top: 10px;
}
.comment  div li{ 
margin-right: 10px;
font-weight: 700;
color: gray;
}