.book {
  
    display: flex;
    justify-content: space-between;
    border:1px solid black ;
    padding: 10px;
    margin: 20px;

    padding-left: 10%;
    padding-right: 10%;

}
.midSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
padding-left: 10px;
}
.rightSection{
     display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.link {
    text-decoration: none;
}
.icon img{
    width: 80px;
    height: 80px;
}