body{
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.container{
    border: 1px solid black;
    width: 40%;
    text-align: center;
    margin: 5px;
    padding: 10px;
    margin: auto;
    background-color: rgb(245, 142, 69);
    box-shadow: 2px 2px 2px rgb(194, 189, 189);
    border-radius: 10px;
}
.container h1{
    text-transform: capitalize;
    font-size: 25px;
}
.show{

    border: 1px solid black;
    width: 40%;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(237, 194, 100);
    box-shadow: 2px 2px 2px rgb(129, 127, 127);
    border-radius: 10px;


}
.show h1{
     text-transform: capitalize;
    font-size: 25px;
}
.content{
    border: 1px solid black;
    width: 40%;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    display: none;
    background-color: rgb(81, 252, 110);
    box-shadow: 2px 2px 2px rgb(129, 127, 127);
    color: black;
    font-size: 20px;
    border-radius: 10px;
    text-align: left;

}
input,select,button{
    border-radius: 10px;
    border: none;
    padding: 8px;
    box-shadow: 2px 2px 2px rgb(153, 151, 151);

}
